<!DOCTYPE html>

<html lang="em">

  <head>
      <meta charset="utf-8">
      <title>{% block title %}{% endblock title %}</title>

      <link 
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.blue.min.css"
>
  </head>

  <body>
    <header>
        <nav>
            <ul>
                <li>Flask Demo</li>
            </ul>

            <ul>
                

     
     
     
     
     {% block content %}
     {% endblock content %}
  </body>


</html>